<!DOCTYPE html>
<html>
  <head>
    <title>Tram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if Rails.env.development? %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://localhost:3808/webpack-dev-server.js"></script>
  <% end %>
</head>

  <body>
    <%= yield %>
      <%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
